[submodule "vimfiles"]
	path = vimfiles
	url = git@github.com:lukaszklis/vimfiles.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "dracula/zsh"]
	path = dracula/zsh
	url = git@github.com:dracula/zsh.git
[submodule "dracula/iterm"]
	path = dracula/iterm
	url = git@github.com:dracula/iterm.git
[submodule "dracula/jetbrains"]
	path = dracula/jetbrains
	url = git@github.com:dracula/jetbrains.git
[submodule "dracula/sequel-pro"]
	path = dracula/sequel-pro
	url = git@github.com:dracula/sequel-pro.git
[submodule "dracula/visual-studio-code"]
	path = dracula/visual-studio-code
	url = git@github.com:dracula/visual-studio-code.git
